.BuildControls {
    width: 80%;
    background-color: #CE945D;
    display: flex;
    flex-flow: column;
    align-items: center;
    box-shadow: 0 2px 1px #CCC;
    justify-self: end;
    padding: 20px;
}

.OrderButton:not(:disabled) {
    animation: enable 0.3s linear;
}


@media (max-width: 769px) {
    .BuildControls {
        width: 100%;
        margin: 0;
        padding: 10px 0;
        display: flex;
        flex-flow: column;
        position: fixed;
        bottom: 0;
    }
}

@media only screen 
  and (min-width: 1024px) 
  and (max-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {
    .BuildControls {
        width: 100%;
        margin: 0;
        padding: 50px 0;
        display: flex;
        flex-flow: column;
        position: fixed;
        bottom: 0;
    }
  }

@keyframes enable {
    0% {
        transform: scale(1);
    }
    60% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}